*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
   width: 100vw;
   height: 100vh;
   background-image:url(background.jpg);
   background-size: cover;
   background-position: center;
   z-index: 10px;

}
.navbar{
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #00adef;
    position: absolute;
    left: 0;
    bottom:0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.logo-container{
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo-container img{
    width: 200px !important;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    text-shadow:6px 6px 6px rgba(0, 0, 0, 0.737);

}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family:Helvetica;
}
.content h2{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    lighting-color: #002c6a;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #002c6a;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;   
}
span{
    background: #002c6a;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
html, body {
    background-color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .slider {
    margin: 0 auto;
    width: 32%;
  }
  
  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 12px #00adef;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background-image: url(R.png);
    background-size: cover;

  }
  
  .slide:nth-of-type(2) {
    background-image: url(red.jpg);
    background-size: cover;
  }
  
  .slide:nth-of-type(3) {
    background-image: url(blue.jpg);
    background-size: cover;
  }
  
  .slide:nth-of-type(4) {
    background-image: url(télécharger.jfif);
    background-size: cover;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 80px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
  .imagess{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: -1px;
  }

.imagess img {
    border-radius: 15px;
} 
.names{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}
.imagesss{
    display: flex;
    justify-content: space-evenly;
}
.image img{
    width: 200px;
    height: 200px;
}
.image{
    text-align: center;
}
.image h1{
    color: white;
    text-shadow:6px 6px 6px rgba(0, 130, 142, 0.737);
}
.title{
    color: #fff;
    text-shadow:6px 6px 6px rgba(0, 130, 142, 0.737);
text-align: center;
}
.mil1{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    width: 40%;
   /* background-color: #002c6a; */
}
.mil1_1{
   /*background-color: aqua;*/
    margin: 0;
width: 300px;
padding: 0;
height: 250px;
text-align: center;
line-height: 2.5;
}
.mil1_2{
   /* background-color: #474544;*/
    width: 40%;

}
.mil2{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    width: 40%;
  /*  background-color: #002c6a;*/
}
.mil2_1{

  /*  background-color: aqua;*/
    margin: 0;
width: 300px;
padding: 0;
height: 250px;
text-align: center;
line-height: 2.5;
}
.mil2_2{
  /*background-color: #474544;*/
    width: 40%;
}
.divs{
    display: flex;
    justify-content: center;

}
.r{
    color: beige;
}
.stats{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
.ktiba{
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 25%;
    height: 50%;
    box-shadow: 0 0 18px #00adef;

}
.tswira{
    display: flex;
    justify-content: center;
    /*flex-direction: row;*/
    width:200px;
    height: 200px;
}  
.end{
    display: flex;
    justify-content: space-evenly;
}
.khiro{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
/*footer{
    display: flex;
    background:url(OIP.jfif);
    justify-content: center;
    
}*/
